#blocks-overview-container {
  height: 0vh;
  overflow: auto;
  transition: height 1s ease;
  padding-top: 32px;
  position: relative;
}

#blocks-overview {
  padding: 0 32px 32px;
  display: table;
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1050px;
  margin: 0 auto;
  text-align: left;
}

.blocks-overview-block {
  background: rgba(255,255,255,0.08);
  font-size: 16px;
  display: table-row;
  color: rgba(255,255,255,0.6);
  transition: color .2s ease, background .2s ease;
  cursor: pointer;
}

.blocks-overview-block:hover {
  background: rgba(255,255,255,0.16);
  color: rgba(255,255,255,1);
}

.blocks-overview-block:hover .is-currency:before {
  opacity: 1;
}

.blocks-overview-block > div {
  display: table-cell;
  white-space: nowrap;
  line-height: 1;
  padding: 16px 40px 16px 0;
}

.blocks-overview-block > div:first-child {
  padding-left: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blocks-overview-block > div:last-child {
  padding-right: 16px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blocks-overview-block .is-currency {
  margin: 0 2px;
}

.blocks-overview-block .is-currency:before {
  content: "";
  background: url('images/logo_white.svg') no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: baseline;
  position: relative;
  width: 14px;
  height: 12px;
  margin-right: 1px;
  top: 1px;
  opacity: .6;
  transition: opacity .2s ease;
}

.blocks-overview-block .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  width: 100%;
}

.blocks-overview-block .block-size {
  text-align: right;
}

/*
@media (max-width: 750px) {

  .blocks-overview-block > div {
    padding-right: 24px;
  }

  .blocks-overview-block > div.mined-by {
    display: none;
  }
}

@media (max-width: 600px) {

  .blocks-overview-block > div {
    padding-right: 16px;
  }

  .blocks-overview-block > div.block-size {
    display: none;
  }
}
*/

/* Block Detail Overlay */

#block-detail p {
  line-height: 1.3;
  font-size: 19px;
}

#block-detail .small {
  font-size: 16px;
}