#blocks-overview-container {
  height: 60vh;
  overflow: hidden;
  transition: height .8s ease-in-out;
  padding-top: 32px;
  position: relative;
}

#blocks-overview {
  padding: 0 32px 32px;
  display: table;
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1050px;
  margin: 0 auto;
  text-align: left;
}

.blocks-overview-block {
  background: rgba(255,255,255,0.08);
  font-size: 16px;
  display: table-row;
  color: rgba(255,255,255,0.6);
  transition: color .2s ease, background .2s ease;
  cursor: pointer;
}

.blocks-overview-block:hover {
  background: rgba(255,255,255,0.16);
  color: rgba(255,255,255,1);
}

.blocks-overview-block:hover .is-currency:before {
  opacity: 1;
}

.blocks-overview-block > div {
  display: table-cell;
  white-space: nowrap;
  line-height: 1;
  padding: 16px 40px 16px 0;
}

.blocks-overview-block > div:first-child {
  padding-left: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blocks-overview-block > div:last-child {
  padding-right: 16px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blocks-overview-block .is-currency {
  margin: 0 2px;
}

.blocks-overview-block .is-currency:before {
  background: url('images/logo_white.svg') no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: baseline;
  position: relative;
  width: 14px;
  height: 12px;
  margin-right: 1px;
  top: 1px;
  opacity: .6;
  transition: opacity .2s ease;
}

.blocks-overview-block .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  width: 100%;
}

.blocks-overview-block .block-size {
  text-align: right;
}

/*
@media (max-width: 750px) {

  .blocks-overview-block > div {
    padding-right: 24px;
  }

  .blocks-overview-block > div.mined-by {
    display: none;
  }
}

@media (max-width: 600px) {

  .blocks-overview-block > div {
    padding-right: 16px;
  }

  .blocks-overview-block > div.block-size {
    display: none;
  }
}
*/

/* Block Detail Overlay */

#block-detail {
  overflow: auto;
  align-items: flex-start;
}

#block-detail .overlay-container {
  height: auto;
  max-height: none;
  display: block;
  margin-top: 64px;
}

#block-detail p {
  line-height: 1.3;
  font-size: 19px;
}

#block-detail .small {
  font-size: 16px;
}

#block-detail .overlay-head-col:first-child {
  margin-right: 48px;
}

#block-detail .overlay-head {
  border-bottom: 1px solid rgba(3,32,71,0.15);
  height: auto;
}

#block-detail .overlay-head-col p {
  color: rgba(3,32,71, 0.6);
}

#block-detail .overlay-head-col .label {
  color: rgba(3,32,71, 0.4);
}

#block-detail #block-detail-block-number {
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
}

#block-detail-block-hash {
  max-width: 350px;
  word-break: break-all;
}

.block-detail-root {
  display: flex;
  border-bottom: 1px solid rgba(3,32,71,0.15);
}

.block-detail-container {
  padding: 32px;
}

.block-detail-container:first-child {
  border-right: 1px solid rgba(3,32,71,0.15);
  width: 100%;
}

.block-detail-container:last-child {
  width: auto;
  flex: 0 0 auto;
}

.block-detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.block-detail-row:last-child {
  margin-bottom: 0;
}

.block-detail-row p {
  line-height: 1;
}

#block-detail .block-detail-label {
  color: rgba(3,32,71,0.4);
  margin-right: 40px;
}

.block-detail-transactions,
#block-detail-no-transactions {
  display: table;
  padding: 32px 16px 16px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background: rgba(3,32,71,.03);
  border-top: 1px solid rgba(3,32,71,0.15);
}

#block-detail-no-transactions {
  padding: 32px;
  line-height: 1;
  color: rgba(3,32,71,0.6);
  text-align: center;
}

.table-row {
  display: table-row;
  color: rgba(3,32,71,0.6);
}

.table-row p {
  display: table-cell;
  max-width: 200px;
  word-break: break-all;
  padding: 16px;
  border-bottom: 1px solid rgba(3,32,71,0.15);
}

.table-row:last-child p {
  border-bottom: none;
}

.table-row .is-currency:before,
.block-detail-info.is-currency:before {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  top: 2px;
}

.table-row .is-currency:before {
  opacity: .6;
}

.table-row p:last-child {
  text-align: right;
}

.block-detail-transactions-header p {
  border-bottom: none;
  padding: 0 16px;
}

#block-detail .block-detail-transactions-header .label {
  font-size: 16px;
}


@media (max-width: 450px) {
  #blocks-overview-container {
    padding-top: 60px;
  }
}