#block-explorer {
  overflow: auto;
  display: none;
  height: 60vh;
  -webkit-overflow-scrolling: touch;
}

#blocks-overview {
  padding: 0 32px;
  display: table;
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1050px;
  margin: 0 auto;
  text-align: left;
}

.blocks-overview-block {
  background: rgba(255,255,255,0.08);
  font-size: 16px;
  display: table-row;
  color: rgba(255,255,255,0.6);
  transition: color .2s ease, background .2s ease;
  cursor: pointer;
}

.blocks-overview-block:hover {
  background: rgba(255,255,255,0.16);
  color: rgba(255,255,255,1);
}

.blocks-overview-block:hover .is-currency:before {
  opacity: 1;
}

.blocks-overview-block > div {
  display: table-cell;
  white-space: nowrap;
  line-height: 1;
  padding: 16px 40px 16px 0;
}

.blocks-overview-block > div:first-child {
  padding-left: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blocks-overview-block > div:last-child {
  padding-right: 16px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.blocks-overview-block .is-currency {
  margin: 0 2px;
}

.blocks-overview-block .is-currency:before {
  background: url('images/logo_white.svg') no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: baseline;
  position: relative;
  width: 14px;
  height: 12px;
  margin-right: 1px;
  top: 1px;
  opacity: .6;
  transition: opacity .2s ease;
}

.blocks-overview-block .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  width: 100%;
}

/* Block Detail Overlay */

#block-detail {
  overflow: auto;
}

#block-detail .overlay-container {
  height: auto;
  min-height: calc(100% - 64px);
}

#block-detail .overlay-head-col:first-child {
  margin-right: 48px;
}

#block-detail .overlay-column-container > :first-child {
  width: 50%;
}

#block-detail-block-hash {
  max-width: 350px;
  word-break: break-all;
  text-transform: uppercase;
}

#block-detail-hashes .overlay-detail-label {
  width: 120px;
  flex: 0 0 auto;
}

#block-detail-hashes .overlay-detail-row {
  justify-content: flex-start;
}

#block-detail-hashes .overlay-detail-row p {
  word-break: break-all;
  text-align: left;
  max-width: 420px;
}

.block-detail-transactions,
#block-detail-no-transactions {
  display: table;
  padding: 32px 16px 16px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background: rgba(3,32,71,.03);
  border-top: 1px solid rgba(3,32,71,0.15);
}

#block-detail-no-transactions {
  padding: 32px;
  line-height: 1;
  color: rgba(3,32,71,0.3);
  text-align: center;
}

.table-row {
  display: table-row;
  color: rgba(3,32,71,0.6);
}

.table-row p {
  display: table-cell;
  max-width: 200px;
  word-break: break-all;
  padding: 16px;
  border-bottom: 1px solid rgba(3,32,71,0.15);
}

.table-row:last-child p {
  border-bottom: none;
}

.table-row .is-currency:before {
  opacity: .6;
}

.table-row p:last-child {
  text-align: right;
}

.block-detail-transactions-header p {
  border-bottom: none;
  padding: 0 16px;
}

#block-detail .block-detail-transactions-header .label {
  font-size: 16px;
}

@media (min-width: 1200px) {
  #block-detail-block-hash {
    max-width: none;
  }

  #block-detail-hashes .overlay-detail-row p {
    max-width: none;
  }

  .table-row p {
    max-width: none;
  }
}