html, body {
	background-color: #042146;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.88);
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}


body > * {
	z-index: 1;
}

/* map styling */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}
#map > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 60px 16px;
}
#map svg {
    fill: rgba(255, 255, 255, .25);
    max-height: 80vh;
    width: 85vw;
    margin: auto;
}

.own-peer {
	fill: white;
	//-webkit-animation: own 6s ease infinite;
	//animation: own 6s ease infinite;
}
@-webkit-keyframes own {
	0% {
		fill: #fff;
	}
	50% {
		fill: #9ba6b5;
	}
	100% {
		fill: #fff;
	}
}
@keyframes own {
	0% {
		fill: #fff;
	}
	50% {
		fill: #9ba6b5;
	}
	100% {
		fill: #fff;
	}
}

.connected-peer {
	fill: #f6ae2d;
	//-webkit-animation: connected 6s ease infinite;
	//animation: connected 6s ease infinite;
}
@-webkit-keyframes connected {
	0% {
		fill: #f6ae2d;
	}
	50% {
		fill: #805e19;
	}
	100% {
		fill: #f6ae2d;
	}
}
@keyframes connected {
	0% {
		fill: #f6ae2d;
	}
	50% {
		fill: #805e19;
	}
	100% {
		fill: #f6ae2d;
	}
}

.known-peer {
	stroke: #f6ae2d;
	//-webkit-animation: known 6s ease infinite;
	//animation: known 6s ease infinite;
}
@-webkit-keyframes known {
	0% {
		stroke: #f6ae2d;
	}
	50% {
		stroke: #805e19;
	}
	100% {
		stroke: #f6ae2d;
	}
}
@keyframes known {
	0% {
		stroke: #f6ae2d;
	}
	50% {
		stroke: #805e19;
	}
	100% {
		stroke: #f6ae2d;
	}
}


@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
        opacity: 1;
    }
}


header {
	animation: 1s fade-in 5s forwards;
	opacity: 0;
}

header .logo svg {
	margin-right: 16px;
}


.button {
    /*background-image: linear-gradient(110deg, #e2a62f, #d7941a);*/
    background: #e2a62f;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #e2a62f;
    display: inline-block;
    font-size: 24px;
    text-shadow: none;
    transition: color .3s, background-color .3s, border .3s;
}
.button:hover {
    color: #e2a62f;
    //border-color: white;
    background: transparent;
}
.secondary-button {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    border: 2px solid white;
    color: white;
    transition: color .3s, border .3s;
}

.secondary-button:hover {
	border: 2px solid #ffc107;
	color: #ffc107;
}


.continue-anyways-button {
	color: white;
}

.landing-warning {
	animation: 1s fade-in 2s forwards;
	position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    bottom: 32px;
    opacity: 0;
    display: none;
	font-size: 24px;
}

.bottom-center {
	position: absolute;
	bottom: 16px;
	padding: 0 16px;
	left: 0;
	right: 0;
}

.bottom-center>* {
	margin-left: auto;
	margin-right: auto;
}

.warning-advice {
	color: #ffc107;
	font-size: 34px;
}

#enable-javascript {
	font-size: 45px;
}

@keyframes scale-in {
	from {
		transform: translateY(16px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

#landingSection {
	display: block;
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 25vh;
	top: 20vh;
	transition: opacity 1s;
}
#landingSection h1 {
	animation: 3s scale-in ease-in;
}
#landingSection > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#connectBtn {
    display: none;
    opacity: 0;
    animation: 2s fade-in 1s forwards;
}

#miningSection {
    position: absolute;
	width: 75%;
    bottom: 32px;
    left: 12.5%;
    display: none;
    transition: opacity 1s;
    opacity: 0;
}

#warning-miner-stopped {
	transition: opacity 1s;
	opacity: 0;
	font-size: 24px;
	padding: 1vh 0;
}
#warning-miner-stopped a {
	font-size: 24px;
}

#warning-consensus-lost {
	transition: opacity 1s;
	opacity: 0;
	font-size: 24px;
	padding: 1vh 0;
}


.facts {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
}

.fact {
	padding: 8px 0;
	width: 20%;
}

.facts .label {
	font-size: 16px;
	color: rgba(255, 255, 255, .6);
	text-transform: uppercase;
	letter-spacing: 0.16em;
	margin-bottom: 6px;
}

.facts .number {
	font-size: 45px;
}

.facts .unit {
	color: rgba(255,255,255,0.7);
	font-size: 16px;
}

#miningAnimation, #nimiqCoinIcon {
	height: 32px;
}

#rewardInfo {
	font-size: 13px;
	letter-spacing: 1pt;
    margin-top: 8px;
    opacity: 0;
    color: rgba(255, 255, 255, .6);
}
#rewardInfo a {
    color: inherit;
    font-size: 12px;
    text-decoration: underline;
	white-space: nowrap;
}
#rewardInfo a:hover {
    color: white;
}


#factBalanceContainer {
	min-width: 131px; /* such that it can accomodate up to 3 digit balances without changing ui */
}

#progressContainer {
	padding-bottom: 16px;
	pointer-events: none;
}

#progress{
	color: #ffc107;
	font-size: 34px;
}

#progressBarContainer {
	background-color: rgba(255, 255, 255, 0.7);
	height: 3px;
	width: 40%;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
}

#progressBar {
	background-color: #ffc107;
	height: 100%;
	width: 100%;
	/* set the value of the progress bar via transform instead of width. that way, we get subpixel
	precision and thus a smoother animation */
	transform: scaleX(0) translateZ(0);
	-webkit-transform: scaleX(0) translateZ(0);
	-moz-transform: scaleX(0) translateZ(0);
	-ms-transform: scaleX(0) translateZ(0);
	transform-origin: left;
	transition: transform 0.5s;
}

.syncing #progress {
	animation: 1s fade-in 0s normal forwards; /* using animation instead of opacity such that it works well
		with .synched #progress */
}

.synced #progress {
	animation: 1s fade-in 0.5s reverse forwards, 1s fade-in 1.5s normal forwards, 1s fade-in 4s reverse forwards;
}

.syncing #progressBarContainer {
	animation: 1s fade-in 0s normal forwards; /* using animation instead of opacity such that it works well
		with .synched #progressBarContainer */
}

.synced #progressBarContainer {
	animation: 1s fade-in 4s reverse forwards;
}

.synced #rewardInfo {
	/* wait 5 seconds until fading in because this is when we get the first hashrate value */
	animation: 1s fade-in 5s normal forwards;
}






@media screen and (max-width: 1500px) {
	.facts .label{
		font-size: 14px;
	}

	.facts .number{
		font-size: 34px;
	}

	.facts .unit{
		font-size: 14px;
	}

	#miningAnimation, #nimiqCoinIcon {
		height: 25px;
	}
}


@media screen and (max-width: 1279px) {
	.facts .label{
		font-size: 12px;
	}

	.facts .number{
		font-size: 24px;
	}

	.facts .unit{
		font-size: 12px;
	}

	#progress{
		font-size: 24px;
	}

	#progressBarContainer {
		width: 151px;  /* width of the text "Synchronizing" */
	}

	#miningAnimation, #nimiqCoinIcon {
		height: 18px;
	}

	#warning-old-browser {
		font-size: 20px;
	}

	.continue-anyways-button {
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.facts .label{
		min-height: 28px;
	}
}


/* Tablet / Phone */
@media screen and (max-width: 800px){
	.facts {
		flex-direction: column;
		align-items: center;
	}
	.fact {
		width: 50%;
		margin-bottom: 6px;
	}
	.facts .label {
		margin-bottom: 2px;
	}
	#miningSection{
		text-shadow: 2px 1px 3px black;
	}
    #rewardInfo a {
        font-size: 12px;
    }
}