/* General */

#wallet .overlay {
  display: flex;
  flex-direction: column;
}

#wallet p {
  line-height: 1.3;
  font-size: 22px;
}

#wallet .small {
  font-size: 19px;
}

/* Elements */

#wallet-account {
  max-width: 210px;
  margin-right: 72px;
  word-break: break-all;
}

#wallet-account .label:after {
  content: "Copied!";
  font-weight: 500;
  text-transform: none;
  color: #F6AE2D;
  letter-spacing: 0;
  margin-left: 8px;
  transition: opacity .5s ease-out;
  opacity: 0;
}

#wallet-account.copied .label:after {
  opacity: 1;
  transition: opacity .2s ease-in;
}

#wallet .wallet-account-data {
  padding: 8px;
  margin: -8px;
  transition: background .2s ease;
  cursor: pointer;
}

#wallet .wallet-account-data:hover {
  background: rgba(3,32,71,.05);
}

p#wallet-balance {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

p#wallet-balance.is-currency:before {
  width: 38px;
  height: 32px;
  margin-right: 8px;
}

.wallet-tabbar {
  background: rgba(3,32,71,.03);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  border-bottom: 1px solid #CDD2DA;
}

.wallet-tab {
  position: relative;
  color: rgba(3,32,71,.3);
  padding-bottom: 24px;
}

.wallet-tab:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  background: white;
  border-top: 1px solid #CDD2DA;
  border-left: 1px solid #CDD2DA;
}

.wallet-tab.active {
  color: rgba(3,32,71,1);
}

.wallet-actions input {
  text-align: center;
}

#wallet-account-input {
  border-bottom: 1px solid rgba(3,32,71,.15);
  position: relative;
}

#wallet-account-input input {
  padding: 32px;
  box-sizing: border-box;
}

#wallet-amount-input {
  font-size: 80px;
  position: relative;
  padding: 16px 0;
}

#wallet-account-input.invalid:after, #wallet-amount-input.invalid:after {
  color: #FF795F;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

#wallet-account-input.invalid:after {
  bottom: 10px;
  content: "This seems like an invalid account number.";
}

#wallet-amount-input.invalid:after {
  bottom: 10px;
  content: "This is not a valid amount.";
}

#wallet-amount-input input {
  max-width: 450px; /* TODO: investigate why the input resizes the parent relative to font size */
}

#wallet .wallet-submit-button {
  width: 100%;
  padding: 32px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: inherit;
  font-weight: 600;
  border: none;
  flex: 0 0 auto;
  background: #F6AE2D;
  color: rgba(3,32,71,1);
  transition: background .2s ease, color .2s ease;
}

#wallet .wallet-submit-button:disabled {
  background: rgba(3,32,71,.1);
  color: rgba(3,32,71,.3);
  cursor: default;
}

#wallet .wallet-submit-button:disabled:hover {
  background: rgba(3,32,71,.1);
  color: rgba(3,32,71,.3);
  cursor: default;
}

#wallet .wallet-submit-button:hover {
  outline: none;
  background: #E69E1D;
}

#wallet.transaction-pending .wallet-tab.active {
  color: rgba(3,32,71,.3);
}

#wallet.transaction-pending input {
  cursor: default;
}

#wallet.transaction-pending input::-webkit-input-placeholder {
  color: rgba(3,32,71,0.2);
}
#wallet.transaction-pending input::-moz-placeholder {
  color: rgba(3,32,71,0.2);
}
#wallet.transaction-pending input:-ms-input-placeholder {
  color: rgba(3,32,71,0.2);
}
#wallet.transaction-pending input:-moz-placeholder {
  color: rgba(3,32,71,0.2);
}

#wallet.transaction-pending .wallet-submit-button {
  background: none;
  color: rgba(3,32,71,.3);
  cursor: default;
}

#wallet.transaction-pending .wallet-submit-button:hover {
  background: none;
  color: rgba(3,32,71,.3);
}

#wallet.transaction-pending .wallet-submit-button span {
  display: none;
}

#wallet.transaction-pending .wallet-submit-button:before {
  content: "Please wait for confirmation"
}

/* sidebar */

.wallet-sidebar-container {
  width: 0;
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
  transition: width .5s ease;
  overflow: hidden;
}

#wallet.transaction-pending .wallet-sidebar-container,
#wallet.transaction-received .wallet-sidebar-container {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

/* sidebar cases */

#wallet.transaction-pending .wallet-sidebar.transaction-pending {
  transform: translate3D(0,0,0);
}

#wallet.transaction-pending .wallet-sidebar.transaction-received {
  transform: translate3D(-100%,0,0);
  opacity: 1;
}

#wallet.transaction-received .wallet-sidebar.transaction-received {
  opacity: 1;
  transform: translate3D(0,0,0);
}

#wallet.transaction-received .wallet-sidebar.transaction-pending {
  transform: translate3D(-100%,0,0);
}

#wallet.transaction-pending.transaction-received .wallet-sidebar.transaction-pending,
#wallet.transaction-pending.transaction-received .wallet-sidebar.transaction-pending {
  transform: translate3D(0,0,0);
}

.wallet-sidebar {
  z-index: 1;
  width: 300px; /* TODO: make this dynamic */
  background: #F6AE2D;
  flex: 0 0 auto;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 0 48px;
  box-sizing: border-box;
  color: rgba(3,32,71,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  position: absolute;
  right: 24px;
  top: 32px;
  bottom: 32px;
  transform: translate3D(0,0,0);
  transition: transform .3s ease;
}

.wallet-sidebar.transaction-received {
  background: #24C173;
  opacity: 0;
}

.wallet-sidebar-leave {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 24px;
  transition: opacity .2s ease;
}

.wallet-sidebar-leave:hover {
  opacity: .7;
}

.wallet-sidebar-close {
  display: none;
}

.wallet-sidebar h2 {
  font-size: 30px;
  padding: 0 32px;
  opacity: 1;
  letter-spacing: 0;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
}

/*.wallet-sidebar.transaction-received h2 {*/
  /*padding-top: 80px;*/
/*}*/

.wallet-sidebar .label {
  font-size: 16px;
  color: white;
  margin-bottom: 8px;
}

.wallet-sidebar-row {
  display: flex;
  margin: 40px 32px 0;
}

.wallet-sidebar-detail {
  width: 50%;
  max-width: 100%;
}

.wallet-sidebar-detail:last-child {
  margin-right: 0;
  width: auto;
}

.wallet-sidebar-detail p {
  word-break: break-all;
  color: rgba(3,32,71,.6);
}

.wallet-sidebar-detail .is-currency:before {
  width: 17px;
  height: 15px;
  margin-right: 4px;
  top: 1px;
  opacity: .6;
}

.wallet-sidebar-confirmation {
  padding: 20px 32px;
  position: relative;
}

#wallet .transaction-pending .wallet-sidebar-confirmation {
  background: #E69E1E;
}

#wallet .transaction-received .wallet-sidebar-confirmation {
  background: #21B069;
}

/* Confirmation loader */

.wallet-sidebar-confirmation-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  overflow: hidden;
}

.wallet-sidebar-confirmation-loader:after {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  transform: translate3D(-100%,0,0);
  height: 100%;
  width: 50%;
  background: rgba(255,255,255,1);
  background: #fff;
  animation: loading 2s linear 1s infinite;
}

@keyframes loading {
  from {
    transform: translate3D(-100%,0,0);
  }
  to {
    transform: translate3D(200%,0,0);
  }
}

@-webkit-keyframes loading {
  from {
    transform: translate3D(-100%,0,0);
  }
  to {
    transform: translate3D(200%,0,0);
  }
}

.wallet-sidebar-confirmation h3 {
  font-size: 22px;
  opacity: .6;
  letter-spacing: 0;
}

.wallet-sidebar-confirmation .wallet-sidebar-row {
  margin: 20px 0 0;
}

/* Receive Notification */

@media (min-height: 600px) {
  #wallet-amount-input {
    padding: 24px 0;
  }

  #wallet-amount-input.invalid:after {
    bottom: 15px;
  }
}

@media (min-height: 700px) {
  #wallet-amount-input {
    padding: 32px 0;
  }

  #wallet-amount-input.invalid:after {
    bottom: 20px;
  }
}

@media (min-width: 900px) {
  #wallet-account-input {
    min-width: 500px;
  }
}

@media (max-width: 850px) and (min-width: 751px) {
  #wallet-account {
    margin-right: 32px;
  }

  #wallet.transaction-pending .wallet-sidebar-container {
    width: 250px;
  }

  .wallet-sidebar {
    width: 250px;
  }

  .wallet-sidebar {
    padding: 0 0 24px;
  }

  .wallet-sidebar h2 {
    padding: 24px;
  }

  .wallet-sidebar-confirmation {
    padding: 20px 24px;
  }

  .wallet-sidebar-row {
    margin: 24px 24px 0;
  }
}

@media (max-width: 750px) {

  .wallet-sidebar-container {
    display: none;
  }

  #wallet.transaction-pending .wallet-sidebar-container,
  #wallet.transaction-received .wallet-sidebar-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: auto;
    padding: 24px;
  }

  .wallet-sidebar {
    display: none;
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
    width: auto;
    border-radius: 3px;
    transform: translate3D(0,0,0) !important;
  }

  #wallet.transaction-pending .wallet-sidebar.transaction-pending,
  #wallet.transaction-received .wallet-sidebar.transaction-received {
    display: flex;
  }

  .wallet-sidebar h2 {
    max-width: 70%;
  }

  .wallet-sidebar.transaction-received h2 {
    padding-top: 48px;
  }


  .wallet-sidebar-back {
    display: none;
  }

  .wallet-sidebar-close {
    display: block;
    width: 20px;
    height: 20px;
  }

  .wallet-sidebar-detail {
    width: auto;
    margin-right: 64px;
  }
  .wallet-sidebar-detail:last-child {
    margin-right: 0;
  }
}

@media (max-width: 560px) {
  #wallet .small {
    font-size: 16px;
  }

  #wallet-account {
    margin-right: 32px;
  }

  p#wallet-balance {
    font-size: 40px;
  }

  #wallet-amount-input {
    font-size: 60px;
  }
}

@media (max-width: 470px) {

  #wallet.transaction-pending .wallet-sidebar-container,
  #wallet.transaction-received .wallet-sidebar-container {
    top: 80px;
    left: 8px;
    right: 8px;
    bottom: 8px;
  }

  #wallet.transaction-pending .wallet-sidebar,
  #wallet.transaction-received .wallet-sidebar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #wallet-account {
    margin-right: 24px;
  }

  p#wallet-balance.is-currency:before {
    width: 30px;
    height: 27px;
    margin-right: 4px;
    top: 1px;
  }

  #wallet-account-input input {
    padding: 32px 24px;
  }

  #wallet .wallet-submit-button {
    padding: 24px;
  }

  .wallet-sidebar h2 {
    padding: 0 24px;
  }

  .wallet-sidebar-confirmation {
    padding: 20px 24px;
  }

  .wallet-sidebar-row {
    margin: 20px 24px 0;
  }

  .wallet-sidebar {
    padding: 0 0 20px;
  }
}

@media (max-width: 360px) {

  #wallet-account {
    margin-bottom: 24px;
  }

  #wallet-account-input input {
    padding: 16px 24px;
  }

  #wallet-amount-input {
    padding: 8px;
  }

  .wallet-sidebar {
    padding: 0 0 24px;
  }

  .wallet-sidebar h2 {
    padding: 24px !important;
    max-width: none;
  }

  .wallet-sidebar-confirmation {
    padding: 20px 24px;
  }

  .wallet-sidebar-row {
    margin: 24px 24px 0;
  }
}